Rightmove scraping, images
venv
Coordinates_calculator.py
Folium.ipynb
Googlemaps.ipynb
KNN mapping.ipynb
listings.csv
rightmove.py
sales_data.csv
sales_data_practice.csv
Scraping property listings.docx
.ipynb_checkpoints
.vscode